.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 10svw;
    padding: 2svh 0 2svh 0;
    background: rgb(172, 127, 255);
    color: white;
    padding: 0svh 3svw;
}

.title, .address {
    font-size: medium;
}

